{% extends "base.html" %}
{% load static %}

{% block title %}About Us {% endblock title%}
{% block content%}
<hr>
<div class="container">
 <div class="row"> 
<div class="col-md-10 mt-5 ">
<h1 class="heading"> About Us</h1>
<div class="offset-1">
<p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p>
<p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p>
<p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p>
<p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p>
<p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p><p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p><p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p><p class="about-us-para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente delectus repellendus minima perspiciatis sequi autem nostrum in, obcaecati maxime culpa aliquam fugiat optio accusantium exercitationem quidem. Quaerat maxime voluptatum
</p>
</div>
<h2 class="heading"> Achivements</h2>
<div class="card offset-1 mt-5" style="width: 18rem; ">
      <img src="{% static 'images/lawyer.jpg' %}" height="180px" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text bg-info">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
</div>
</div> 
</div>

{% endblock content%}