{% extends "base.html" %}
{% load static %}

{% block title %}About Us {% endblock title%}
{% block content%}
<hr>
<div class="container">
 <div class="row"> 
<div class="col-md-10 mt-5 ">
<h1 class="heading"> About Us</h1>
<div class="offset-1">
<p class="about-us-para" >
      Ghodke Law Associates(G.L.A.) is a multi-specialty law firm  with Head office in Indore(M.P.) based law firm. G.L.A. is one of the leading firm caters and provide almost all important facets of laws, jurisdiction and specialization in Litigation, dispute resolution, business law, commercial real estate, employment and labour, environmental, social and governance (ESG) , wills and estates, Intellectual property, mergers and acquisitions, corporate advisory.
</p>
<p class="about-us-para">
      Legal services dedicated by personalized , quality support , solution oriented & professional excellence independent & experienced lawyers. Structuring ,drafting and finalizing the documentation, also advice on the strategy to address complex project disputes. Repetitive work from existing clients said about modern and inclusive in our outlook & solution oriented approach , continuously work  for the quality of our services and client satisfaction. 
</p>
<p class="about-us-para">
      our most valuable asset for progress is consistent cooperation and coordinated effort within and between our teams, across each practice area , Each Partner-led team, having specific practice area knowledge and expertise, understand the clients requirements and revert expeditiously to the committed satisfaction of the client . With  emphasis on our core values of focusing on quality, reliability and efficacy along with a basic understanding, that we work best through team work and collaboratin , we are able to work seamlessly across all practice area for our clients.  
</p>

</div>
<!-- <h2 class="heading"> Achivements</h2>
<div class="card offset-1 mt-5" style="width: 18rem; ">
      <img src="{% static 'images/lawyer.jpg' %}" height="180px" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text bg-info">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div> -->
</div>
</div> 
</div>

{% endblock content%}