{% extends "base.html" %}
{% block content%} 
1- 	Litigation and Dispute Resolution 
 	1.1	-	General litigation 
1.2	-	Commercial arbitration 
	1.3	- 	Construction litigation 
	1.4	-	Employment litigation 
	1.5	-	Mediation 
	1.6	-	Securities litigation 
2- 	Business law
	2.1	-	Commercial Agreements 
	2.2	-	Corporate Governance and Disclosure 
	2.3	-	Corporate reorganizations
	2.4	-	Joint ventures and other business combinations
3- 	Commercial real estate 
3.1	-	Acquisitions and dispositions 
	3.2	-	Joint ventures and partnerships 
	3.3	-	Land development 
	3.4	-	financings
	3.5	-	Leasing 
4- 	Employment and Labour 
4.1	-	Contracts, management agreements, consulting    arrangements
4.2	-	Hiring, downsizing, terminations, and issues that 	 arise from mergers and acquisitions	
4.3	-	Consulting and independent contractor agreements
4.4	-	Executive employment agreements and issues
4.5	-	Non-competition, non-solicitation and confidentiality agreements
4.6	-	Change of control and retention contract
4.7	-	Successorship and common employer applications and strategies
4.8	-	Collective agreements and handling individual, group and policy grievances
5- 	Environmental, social and governance (ESG) 
 	5.1	-	compliance with environmental legislation
	5.2	-	regulatory matters 
	5.3	-	human rights legislation
	54	-	securities disclosure 
6-	Wills and estates 
7.1	-	estate planning, litigation 
	7.2	-	wills and estate administration
7- 	Intellectual property 
8-	Mergers and Acquisitions
{% endblock content%}