{% extends "base.html" %}
{% block content%} 


<div class="container">

<table class=" table    table-hover table-striped table-success ">
	<thead class="text-center table-dark">
		<tr >
                  <th>Litigation and Dispute Resolution</th>
                  <th>Business law</th>
                  <th>Commercial real estate </th>
                  <th>Employment and Labour</th>
                  <th>Environmental, social and governance (ESG) </th>
                  <th>Wills and estates</th>
                  <th>Intellectual property</th>
                  <th>Mergers and Acquisitions</th>
			</tr>
	</thead>
	<tbody class="text-center">
		<tr>
			<td>General litigation </td>
                  <td>Commercial Agreements </td>
                  <td>Acquisitions and dispositions</td>
                  <td>Contracts, management agreements, consulting arrangements</td>
                  <td>compliance with environmental legislation</td>
			<td></td>
                  <td>estate planning, litigation </td>
			<td></td>
		</tr>
		<tr>
			<td>Commercial arbitration</td>
                  <td>Corporate Governance and Disclosure</td>
                  <td>Joint ventures and partnerships</td>
                  <td>Hiring, downsizing, terminations, and issues that arise from mergers and acquisitions</td>
                  <td>regulatory matterrs</td>
			<td></td>
                  <td>wills and estate administration
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Construction litigation</td>
                  <td>Corporate reorganizations</td>
                  <td>Land development</td>
                  <td>Consulting and independent contractor agreements</td>
                  <td>securities disclosure</td>
			<td></td>
                  <td></td>
			<td></td>
		</tr>
		<tr>
			<td>Construction litigation</td>
                  <td>Corporate reorganizations</td>
                  <td>Land development</td>
                  <td>human rights legislation</td>
                  <td></td>
			<td></td>
                  <td></td>
			<td></td>
		</tr>
		<tr>
			<td>Employment litigation</td>
                  <td>Joint ventures and other business combinations</td>
                  <td>financings</td>
                  <td>Executive employment agreements and issues</td>
                  <td>securities disclosure</td>
			<td></td>
                  <td></td>
			<td></td>
		</tr>
		<tr>
			<td>Mediation</td>
                  <td></td>
                  <td>Leasing</td>
                  <td>Executive employment agreements and issues</td>
                  <td>Non-competition, non-solicitation and confidentiality agreements</td>
			<td></td>
                  <td></td>
			<td></td>
		</tr>
		<tr>
			<td>Securities litigation</td>
                  <td></td>
                  <td></td>
                  <td>Change of control and retention contract</td>
                  <td></td>
			<td></td>
                  <td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
                  <td></td>
                  <td></td>
                  <td>Successorship and common employer applications and strategies</td>
                  <td></td>
			<td></td>
                  <td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
                  <td></td>
                  <td></td>
                  <td>Collective agreements and handling individual, group and policy grievances</td>
                  <td></td>
			<td></td>
                  <td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>

{% endblock content%}

