.u-block-219b-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 506px);
  top: auto;
  right: auto;
  bottom: -29px;
}

.u-block-219b-6 {
  position: absolute;
  left: 0;
  width: 61px;
  height: 61px;
  top: auto;
  right: auto;
  bottom: 316px;
}

.u-block-219b-7 {
  position: absolute;
  width: 61px;
  height: 61px;
  left: auto;
  top: auto;
  right: 0;
  bottom: 316px;
}

@media (max-width: 1199px) {
  .u-block-219b-5 {
    left: calc(((100% - 940px) / 2)  + 406px);
  }
}

@media (max-width: 991px) {
  .u-block-219b-5 {
    left: calc(((100% - 720px) / 2)  + 296px);
  }
}

@media (max-width: 767px) {
  .u-block-219b-5 {
    left: calc(((100% - 540px) / 2)  + 206px);
  }
}

@media (max-width: 575px) {
  .u-block-219b-5 {
    left: calc(((100% - 340px) / 2)  + 106px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/45968180-0.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 283px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 37px 123px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 77px;
  }
}

 .u-section-1-2 {
  background-image: url("images/signing-a-law.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/31b70dae3c0757f2d9d7b27bfeb4742d440e4264cf93579d7b624f615145f37f4cf78a96b11e8f5314974cb19f6a179022331270636bfcada3e8e1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1015px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.75rem;
  width: 606px;
  margin: 156px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  line-height: 1.6;
  width: 611px;
  margin: 35px auto 0;
}

.u-section-2 .u-image-1 {
  height: 285px;
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 748px;
  min-height: 384px;
  height: auto;
  margin: -73px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  font-size: 1rem;
  margin: 5px 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 267px);
    margin-right: calc(((100% - 1140px) / 2) + 267px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 265px);
    margin-right: calc(((100% - 1140px) / 2) + 265px);
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 196px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 1140px) / 2) + 217px);
    margin-right: calc(((100% - 1140px) / 2) + 217px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 605px;
    margin-bottom: 32px;
    margin-left: calc(((100% - 1140px) / 2) + 268px);
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 466px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 337px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 732px;
}

.u-section-3 .u-slider-1 {
  min-height: 732px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-image-1 {
  background-image: url("images/fdx.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 108px auto 0;
}

.u-section-3 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/51618f55bcdf478cd9291ad57761846a2c34b8ca33c8a530fed09e0fcbd4c7a679c0688ca5820add907def94458eb3ce60dab2cdac2c14aa516b4d_1280.jpg");
  background-position: 50% 50%;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 54px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 32px auto 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/fdx.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 108px auto 0;
}

.u-section-3 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 32px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 54px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  font-weight: 400;
  margin: 32px auto 0;
}

.u-section-3 .u-image-5 {
  background-image: url("images/d8614073f04518e420e63f94234bc6e55c1d2e3533d87a5df789615e4f01577cf848a44659d585c3aa432bb4ecf259ca7c52a66b9d6a3ef380df26_1280.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-3 .u-text-9 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 108px auto 0;
}

.u-section-3 .u-image-6 {
  width: 83px;
  height: 83px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 32px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 54px 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  font-weight: 400;
  margin: 32px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  left: 0;
  top: auto;
  right: auto;
  bottom: 310px;
  position: absolute;
  background-image: none;
  padding: 13px;
}

.u-section-3 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  left: auto;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 310px;
  background-image: none;
  padding: 13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-control-1 {
    padding: 11px;
  }

  .u-section-3 .u-carousel-control-2 {
    padding: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.125rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-4 .u-form-1 {
  height: 746px;
  background-image: none;
  width: 616px;
  margin: 50px auto 60px;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  font-size: 1.375rem;
}

.u-section-4 .u-form-group-5 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 11px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}